:root{
   --cor-de-fundo: #bff5c2;
}
body{
    background-color: var(--cor-de-fundo);
}
img{
    width: 15%;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#praia {
    width: 25%;
}
